<h1><%=  I18n.t('activerecord.models.city.one') %></h1>

<%= render 'form', city: @city %>

<%= link_to I18n.t('views.misc.actions.back'), geography_cities_path, class: 'btn btn-sm btn-square btn-default' %>

