<h1><%=  I18n.t('activerecord.models.state.one') %></h1>

<%= render 'form', state: @state %>

<%= link_to I18n.t('views.misc.actions.back'), states_path, class: 'btn btn-sm btn-square btn-default' %>

